{% extends 'base.html' %}

{% block content %}
  <h1>메인 페이지</h1>
  <a href="{% url 'articles:new' %}">생성</a>
  <hr>
  {% for article in articles %}
    <p>글 번호 : {{ article.pk }}</p>
    <p>제목 : {{ article.title }}</p>
    <p>내용 : {{ article.content }}</p>
    <a href="{% url 'articles:detail' article.pk %}">디테일</a>
    <a href="{% url 'articles:edit' article.pk %}">수정</a>
    <form action="{% url 'articles:delete' article.pk %}" method='POST'>
      {% csrf_token %}
      <input type="submit" value='삭제'>
    </form>

    <hr>
  {% endfor %}
{% endblock content %}
