{% extends 'base.html' %}

{% block content %}


  <h2>DETAIL</h2>
  <h3>{{ movie.pk }} 번째 글</h3>
  <hr>
  <img src="{{ movie.poster_path }}" alt="poster_path">

  <p>제목: {{ movie.title }}</p>
  <p>내용: {{ movie.overview }}</p>
  <p>개봉일 : {{ movie.release_date }}</p>
  <p>인기도 : {{ movie.popularity }}</p>
  <p>투표수 : {{ movie.vote_count }}</p>
  <p>평점 : {{ movie.vote_average }}</p>
  {% for genres in movie.genres.all %}

  <p>장르 :{{ genres.name }}</p>
  {% endfor %}

  <hr>

  <a href="{% url 'movies:index' %}">back</a>
  <hr>

{% endblock content %}
