{% extends 'base.html' %}

{% block content %}
  <h1>초기화면</h1>
  {% if request.user.is_authenticated %}
    <a href="{% url 'articles:create' %}">생성</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">새 글을 작성하려면 로그인하세요</a>
  {% endif %}
  
  {% for article in articles %}
    <hr>
    <p>글 번호 : {{ article.pk }}</p>
    <p>제목 : {{ article.title }}</p>
    <p>내용 : {{ article.content }}</p>
    <a href="{% url 'articles:detail' article.pk %}">상세 페이지</a>
    <hr>
  {% endfor %}

{% endblock content %}
