<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <title>Movie Board</title>
</head>
<body>
  <div class="container mt-5">
    {% if request.user.is_authenticated %}
      <h3>환영합니다, {{ user }}</h3>
      <div class="d-flex">
        <a href="{% url 'accounts:update' %}" class="btn btn-warning btn-sm">회원정보수정</a>
        <form action="{% url 'accounts:logout' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="로그아웃" class="btn btn-secondary btn-sm">
        </form>
        <form action="{% url 'accounts:delete' %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="회원탈퇴" class="btn btn-danger btn-sm">
        </form>
      </div>
    {% else %}
      <a href="{% url 'accounts:login' %}" class="btn btn-success btn-sm">로그인</a>
      <a href="{% url 'accounts:signup' %}" class="btn btn-primary btn-sm">회원가입</a>
    {% endif %}

    <br>

    {% block content %}
    {% endblock content %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>
