<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todos</title>
</head>
<body>
  <div class="container">
    <a href="{% url 'eithers:create' %}">CREATE</a>
    <a href="{% url 'eithers:random_page' %}">RANDOM</a>
    {% comment %} <a href="{% url 'eithers:random' %}">RANDOM</a> {% endcomment %}
  {% block content %}
  
  {% endblock content %}
  </div>
</body>
</html>