{% extends 'base.html' %}

{% block content %}
  <h1>상세화면</h1>
  <p>글 번호 : {{ article.pk }}</p>
  <p>제목 : {{ article.title }}</p>
  <p>내용 : {{ article.content }}</p>
  <p>작성 시간 : {{ article.create_date }}</p>
  <p>수정 시간 : {{ article.update_date }}</p>
  <a href="{% url 'articles:update' article.pk %}">수정</a>
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제">
  </form>
  <hr>
  <a href="{% url 'articles:index' %}">뒤로</a>
{% endblock content %}
