{% extends 'base.html' %}

{% block content %}

  <p>요약 : {{ memo.summary  }}</p>
  <p>메모 : {{ memo.memo  }} </p>
  {% if memo.image %}
    <img src="{{ memo.image_thumbnail.url }}" alt="{{ memo.image_thumbnail }}">
  {% endif %}
  <p>작성 시각 : {{ memo.created_at  }} </p>
  <p>수정 시각: {{ memo.updated_at  }} </p>

  <a href="{% url 'memos:update' memo.pk%}">[UPDATE]</a>
  <form action=" {% url 'memos:delete' memo.pk %}" method="POST">
    {% csrf_token %}
    <button>삭제</button>  
  </form>
  <a href="{% url 'memos:index' %}">[back]</a>
{% endblock  %}
